.avantages-card-container {
  margin-top: calc(var(--spacing-ref) * 2);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--gradientColor) border-box;
  padding: calc(var(--spacing-ref) * 2);

  & h5 {
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-title-text) * 0.8);
    text-align: left;
    padding-left: calc(var(--spacing-ref) * 0.5);
  }

  & p {
    color: #212121;
    letter-spacing: 0.5px;
    font-size: calc(var(--font-size-text) * 1);
    text-align: left;
  }

  .avantages-card-title {
    display: flex;
    align-items: flex-start;
    padding-bottom: var(--spacing-ref);
  }

  & p:nth-child(2) {
    padding-top: calc(var(--spacing-ref) * 1);
  }

  & p:last-child {
    font-weight: bold;
    margin-top: calc(var(--spacing-ref) * 1);
  }

  &:nth-child(even) {
    color: var(--secondaryColor);
  }

  &:nth-child(odd) {
    color: var(--mainColor);
  }

  @media screen and (max-width: 480px) {
    padding: var(--spacing-ref);
    margin-top: var(--spacing-ref);

    & h5 {
      font-size: calc(var(--font-size-title-text) * 0.65);
      padding-left: 0;
    }

    & p {
      font-size: calc(var(--font-size-text) * 0.85);
    }

    .avantages-card-title {
      gap: 0.5rem;
      align-items: center;

      & svg {
        width: 35px !important;
        height: 35px !important;
      }
    }

    & p:last-child {
      font-size: calc(var(--font-size-text) * 0.9);
    }
  }
}

@media screen and (min-width: 1024px) {
  .avantages-card-container {
    width: 80%;

    & h5 {
      width: 100%;
    }
  }

  .avantages-card-content {
    font-size: calc(var(--font-size-text) * 1.5) !important;
  }
}
