.funct-cards-container {
  width: 100%;
}

.funct-card {
  padding: calc(var(--spacing-ref) * 2) calc(var(--spacing-ref) * 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-ref);
  border: 1px solid var(--pinkUvibes);
  border-radius: var(--border-radius);
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  width: 100%;
  transition: transform 0.3s ease;

  & h3 {
    color: var(--pinkUvibes);
    font-family: var(--text-font);
    font-size: var(--font-size-h3);
    letter-spacing: var(--spacing-letter);
    line-height: 1.5;
  }
  & p {
    color: var(--pinkUvibes);
    font-size: var(--font-size-text);
    font-family: var(--text-font);
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
  }
  & a {
    color: var(--pinkUvibes);
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--secondaryColor);
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .funct-card {
    height: 30vh;
    & h4 {
      font-size: calc(var(--font-size-ref) * 2);
    }
  }
}
