.lastavantages-card-container {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    var(--gradientColor) border-box;
  padding: calc(var(--spacing-ref) * 2);
  margin-top: calc(var(--spacing-ref) * 2);

  & h5 {
    color: var(--secondaryColor);
    font-size: calc(var(--font-size-title-text) * 0.8);
    text-align: left;
    width: 35ch;
    padding-left: calc(var(--spacing-ref) * 0.5);
  }

  & p:first-of-type {
    letter-spacing: 0.5px;
    font-size: calc(var(--font-size-text) * 1);
    text-align: left;
  }
  .last-avantages-card-title {
    display: flex;
    align-items: flex-start;
  }

  .last-avantages-card-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--spacing-ref) * 0.5);
  }

  .last-avantages-list {
    list-style: none;
    color: #212121;
    font-family: var(--text-font);
    font-size: calc(var(--font-size-text) * 1);

    text-align: left;
    width: 40ch;
  }
  .last-avantages-card-title {
    padding-bottom: var(--spacing-ref);
  }

  @media screen and (max-width: 480px) {
    padding: var(--spacing-ref);
    margin-top: var(--spacing-ref);

    & h5 {
      font-size: calc(var(--font-size-title-text) * 0.65);
      width: 100%;
      padding-left: 0;
    }

    .last-avantages-card-title {
      gap: 0.5rem;
      align-items: center;

      & svg {
        width: 35px !important;
        height: 35px !important;
      }
    }

    .last-avantages-list {
      font-size: calc(var(--font-size-text) * 0.85);
      width: 100%;
    }

    .last-avantages-card-content {
      gap: 0.25rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .lastavantages-card-container {
    width: 80%;
    & h5 {
      width: 100%;
    }
    .last-avantages-list {
      width: 100%;
    }
  }
}
