.testimony-card {
  background-color: white;
  padding: calc(var(--spacing-ref) * 2);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  min-width: 80%;
  max-width: 80%;
  margin: calc(var(--spacing-ref) * 2);
  & h3 {
    font-style: italic;
    text-align: center;
    color: var(--secondaryColor);
    font-family: var(--text-font);

    &::before {
      content: "❝ ";
      display: inline;
      top: 0;
      left: 0;
      font-size: 1.8rem;
    }

    &::after {
      content: " ❞";
      display: inline;
      font-size: 1.5rem;
    }
  }

  & p {
    text-align: center;
  }
}
