.partner-carousel {
  padding: var(--section-padding-v) var(--section-padding-h);
  position: relative;
  padding-bottom: 60px;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;

  @media (min-width: 1024px) {
    padding: var(--section-padding-v) var(--section-padding-h);
  }
}

.partner-carousel-title {
  padding-bottom: calc(var(--spacing-ref) * 2);
  padding-left: calc(var(--spacing-ref) * 2);
  text-align: center;
  color: white;

  @media screen and (max-width: 480px) {
    padding-left: var(--spacing-ref);
    padding-bottom: var(--spacing-ref);
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.partner-logo {
  max-width: 150px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  max-width: clamp(150px, 20vw, 250px);
}

.slide-wrapper:hover .partner-logo {
  transform: scale(1.05);
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(150px, 20vw, 250px);
  width: 100%;
  border-radius: var(--border-radius);
  background-color: white;
  overflow: hidden;
}
