.avantages-desktop-container {
  padding: var(--section-padding-v) var(--section-padding-h);
  

  & h3:first-of-type {
    text-align: left;
    font-size: var(--font-size-h2);
    padding-bottom: calc(var(--spacing-ref) * 2);
  }

  & h4:first-of-type {
    text-align: left;
    font-size: calc(var(--font-size-h4) * 1.5);
    padding-bottom: calc(var(--spacing-ref) * 2);
  }
}

.avantages-section {
  padding: var(--section-padding-v) 0;
}

.avantages-button {
  padding: calc(var(--spacing-ref) * 2);
  background-color: rgba(253, 110, 0, 0.178);
  margin: 0 auto;
  width: 50%;
  border: 1px solid var(--mainColor);
  border-radius: calc(var(--border-radius) * 3);
  display: flex;
  box-shadow: rgb(37 34 34 / 30%) 0px 4px 6px -2px;
  gap: calc(var(--spacing-ref) * 2);
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  & .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      scale: 1.1;
      transition: all 0.4s ease;
    }

    & p {
      color: var(--mainColor);
      font-size: calc(var(--font-size-ref) * 1.5);
      font-weight: bold;
    }
  }

  & button {
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: calc(var(--font-size-ref) * 1.5);
    color: var(--mainColor);

    &:focus {
      border-radius: 50%;
      background: var(--gradientColor-button);
      color: white;
    }
  }
}

.avantages-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing-ref) * 2);

  & .avantages-card-container:nth-child(odd) {
    & h5 {
      color: var(--secondaryColor);
    }

    .avantages-card-content {
      & p {
        color: var(--mainColor);
      }
    }
  }

  & .avantages-card-container:nth-child(even) {
    & h5 {
      color: var(--mainColor);
    }
    .avantages-card-content {
      & p {
        color: var(--secondaryColor) !important;
      }
    }
  }
}

& hgroup {
  text-align: center;
  & h3 {
    font-size: var(--font-size-h3);
    color: var(--mainColor);
  }

  & h4 {
    font-size: var(--font-size-h4);
    color: var(--secondaryColor);
  }
}
