.testimony {
  display: flex;
  flex-direction: column;

  & h2 {
    color: white;
  }
}

.swiper-pagination {
  position: relative;
  bottom: 0;
}

.testimony-container {
  --swiper-navigation-color: #00AFDD;
  --swiper-pagination-color: #00AFDD;
}
