
@font-face {
  font-family: "Supreme-Light";
  src: url("/fonts/Supreme-Light.woff2") format("woff2"),
    url("/fonts/Supreme-Light.woff") format("woff"),
    url("/fonts/Supreme-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Supreme-Bold";
  src: url("/fonts/Supreme-Bold.woff") format("woff"),
    url("/fonts/Supreme-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-font: "Supreme-Light";
  --text-font-bold: "Supreme-Bold";
  --button-font: "Bevellier-regular";
  --bckgColor: #f8f9fa;
  --mainColor: #fd6e00;
  --yellowUvibes: #feb000;
  --greenUvibes: #78c751;
  --blueUvibes: #00AFDD;
  --pinkUvibes: #d90a5c;
  --purpleUvibes: #800080;
  --mainColor-opacity: #fd6e0075;
  --secondaryColor: #d90a5c;
  --cardsOpacity: rgba(255, 255, 255, 0.808);
  --gradientColor-button: linear-gradient(90deg, #f76213 53%, #f62570 100%);
  --gradientColor: linear-gradient(90deg, #fd6e00 0%, #f62570 100%);
  --gradientColor-card: linear-gradient(180deg, #fd6e00 0%, #f62570 100%);
  --gradientColor-card-opacity: linear-gradient(
    180deg,
    #fd6e00d8 0%,
    #f62572d2 100%
  );
  --gradientColor-white: linear-gradient(120deg, #fd6e0017 0%, #ffffff 100%);
  --font-size-ref: 1rem;
  --font-size-h1: clamp(3rem, 1.5rem + 5vw, 8rem);
  --font-size-h2: clamp(2.5rem, 1rem + 3vw, 4rem);
  --font-size-h3: clamp(1.5rem, 0.75rem + 2vw, 3rem);
  --font-size-h4: clamp(1rem, 0.65rem + 0.4vw, 2rem);
  --font-size-title-text: clamp(1.5rem, 1rem + 1vw, 2rem);
  --font-size-text: clamp(1rem, 0.5rem + 1vw, 1.25rem);
  --border-ref: 1px solid var(--gradientColor);
  --border-radius: 8px;
  --spacing-letter: 1px;
  --spacing-ref: 1rem;
  --input-width: 7rem;
  --input-height: 2rem;
  --icon-min-size: 50px;
  --icon-max-size: 100px;
  --icon-size: 12vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  --title-font: var(--font-roboto), sans-serif;
  background: var(--bckgColor);
}

p {
  font-family: var(--text-font);
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
  font-family: var(--text-font);
}

h5 {
  font-family: var(--text-font);
}

.text-bold {
  font-weight: bolder;
}

.title-h1 {
  font-size: var(--font-size-h1);
  font-family: var(--title-font);
  color: var(--bckgColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h2-orange {
  font-size: calc(var(--font-size-h2));
  font-family: var(--title-font);
  color: var(--mainColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h2-white {
  font-size: var(--font-size-h2);
  font-family: var(--title-font);
  color: var(--bckgColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h3 {
  font-size: var(--font-size-h3);
  font-family: var(--title-font);
  color: var(--mainColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}
.title-h3-white {
  font-size: var(--font-size-h3);
  font-family: var(--title-font);
  color: var(--bckgColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h4 {
  font-size: var(--font-size-h4);
  font-family: var(--title-font);
  color: var(--bckgColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-h4-orange {
  font-size: var(--font-size-h4);
  font-family: var(--title-font);
  color: var(--mainColor);
  text-align: left;
  letter-spacing: var(--spacing-letter);
  line-height: 1;
}

.title-text {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 600;
  color: var(--bckgColor);
  text-align: left;
}

.title-text-light {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 400;
  color: var(--bckgColor);
  text-align: left;
}

.title-text-orange {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 600;
  color: var(--mainColor);
  text-align: left;
}

.title-text-gray {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 600;
  color: #212121;
  text-align: left;
  line-height: 1.2;
}

.title-text-white {
  font-size: var(--font-size-title-text);
  font-family: var(--text-font);
  font-weight: 600;
  color: var(--bckgColor);
  text-align: left;
}

.text {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  color: #585c5f;
}

.text-white {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  color: var(--bckgColor);
}

.text-orange {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  color: var(--mainColor);
}

.text-italic {
  font-size: calc(var(--font-size-text) * 0.8);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  color: var(--bckgColor);
  font-style: italic;
}

.icon-size {
  width: var(--icon-size);
  height: var(--icon-size);
  max-width: var(--icon-max-size);
  max-height: var(--icon-max-size);
  min-width: var(--icon-min-size);
  min-height: var(--icon-min-size);
}

.container-orange {
  background-image: var(--gradientColor-card);
  width: 100%;
  height: 450px;
}

