.appointment-section {
  padding: var(--section-padding-v) var(--section-padding-h);
}

.appointment-button-container {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
  padding-top: calc(var(--spacing-ref) * 2);
}

@media screen and (min-width: 768px) {
  .appointment-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-ref);
  }

  .appointment-button-container {
    width: 40%;
  }
}
