.funct-section {
  & h2 {
    color: white;
    text-align: center;
    padding-bottom: var(--section-padding-h);
  }
}

.funct-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-ref) * 2);
}

.funct-swiper {
  width: 100%;
  padding-bottom: 3rem !important; /* Space for pagination */
}

.funct-swiper .swiper-button-next,
.funct-swiper .swiper-button-prev {
  color: white; 
  background-color: rgba(217, 10, 92, 0.8); /* Uvibes pink/red with opacity */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%; 
  transform: translateY(-50%);
  &::after {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.funct-swiper .swiper-button-prev {
  left: 0;
}

.funct-swiper .swiper-button-next {
  right: 0;
}

.funct-swiper .swiper-pagination {
  bottom: 0px !important;
}

.funct-swiper .swiper-pagination-bullet {
  background: white;
}

.funct-swiper .swiper-pagination-bullet-active {
  background: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .funct-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: calc(var(--spacing-ref) * 2);
    width: 100%;
  }
}
