

.inspiration-section-container {
  background: var(--gradientColor-card);
  display: flex;
  align-items: center;
}

.inspiration-section {
  background: var(--gradientColor-card);
  padding: var(--section-padding-v) var(--section-padding-h);
  color: white;
  gap: calc(var(--spacing-ref) * 2);

  & h2 {
    font-size: var(--font-size-h2);
    font-family: var(--title-font);
    text-align: center;
    letter-spacing: var(--spacing-letter);
    line-height: 1;
    padding-bottom: calc(var(--spacing-ref) * 2);
  }
}

.inspiration-text {
  font-size: var(--font-size-text);
  font-family: var(--text-font);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.inspiration-text-citation {
  padding-bottom: calc(var(--spacing-ref) * 2);
  font-style: italic;
  text-align: center;
}

.inspiration-text-citation::before {
  content: "❝ ";
  display: inline;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.4);
}

.inspiration-text-citation::after {
  content: " ❞";
  display: inline;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 5px;
}

.inspiration-text-autor {
  padding-bottom: calc(var(--spacing-ref) * 0.5);
}

.inspiration-text-work {
  font-size: calc(var(--font-size-text) * 0.8);
}


.cta-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(var(--spacing-ref) * 2);
}

@media screen and (min-width: 768px) {
  .inspiration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .inspiration-section {
    display: flex;
    width: 100%;
  }
  .inspiration-section-text {
    width: 70%;
    padding-right: calc(var(--spacing-ref) * 2);
  }
}
