.article-detail-container {
  padding: calc(var(--spacing-ref) * 2);
  & h1 {
    color: var(--mainColor);
    padding-bottom: calc(var(--spacing-ref) * 2);
    font-weight: normal;
  }

  & h2 {
    color: var(--mainColor);
    padding-bottom: calc(var(--spacing-ref) * 2);
    font-weight: normal;
  }

  & h3 {
    color: var(--mainColor);
    font-weight: normal;
  }

  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: calc(var(--spacing-ref) * 2);
  }

  & ul {
    padding-bottom: calc(var(--spacing-ref) * 2);
    font-size: calc(var(--font-size-text) * 1.2);
    font-family: var(--text-font);
  }
}

.article-title {
  font-size: calc(var(--font-size-h3) * 1.5);
  font-family: var(--title-font);
  padding-bottom: calc(var(--spacing-ref) * 2);
  color: var(--mainColor);
}

.article-content {
  line-height: 1.5;
  margin-bottom: calc(var(--spacing-ref) * 2);

  & p {
    padding-bottom: calc(var(--spacing-ref) * 2);
    font-size: calc(var(--font-size-text) * 1.2);
    color: rgba(0, 0, 0, 0.904);
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.article-back-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing-ref) * 0.5);
  padding: calc(var(--spacing-ref) * 0.5) 0;
  border: none;
  background: transparent;
  color: var(--textColor);
  font-size: calc(var(--font-size-text) * 0.8);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;

  &:last-of-type {
    justify-content: center;
  }
}

.article-back-button:hover {
  color: var(--mainColor);
  transform: translateX(-5px);
}

.article-back-button:hover svg {
  transform: translateX(-3px);
  transition: transform 0.3s ease;
}

.article-back-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 2px;
  background-color: var(--mainColor);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.article-back-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (min-width: 768px) {
  .article-detail-container {
    width: 80%;
    margin: 0 auto;

    & img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .article-detail-container {
    width: 60%;
  }
}
