.uvibes-container {
  padding: var(--section-padding-v) var(--section-padding-h);
  & ul {
    padding-top: var(--spacing-ref);
  }
}
.uvibes-title {
  padding-bottom: var(--spacing-ref);
}

.uvibes-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing-ref) / 2);
  list-style: none;
}

.uvibes-portage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding-v) 0;
}

.uvibes-eclatens-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-ref) * 0.5);
  padding: calc(var(--spacing-ref) * 2);
  border-radius: var(--border-radius);
  border: 1px solid var(--mainColor);
  width: 100%;
  max-width: 600px;
}

.uvibes-eclatens-logo {
  width: 180px;
  height: auto;
}

.uvibes-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-ref);
  background: var(--gradientColor-card);
  padding: var(--section-padding-v) var(--section-padding-h);
  text-align: center;
}

.uvibes-contact-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
  width: 100%;
}
.uvibes-contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--bckgColor);
  border: 1px solid var(--bckgColor);
  border-radius: calc(var(--border-radius) * 3);
  padding: var(--spacing-ref);
  width: 100%;
  max-width: 280px;
  cursor: pointer;
  height: 3.5rem;
  font-family: var(--title-font);
  font-size: calc(var(--font-size-ref) * 1.1);
  letter-spacing: var(--spacing-letter);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.uvibes-contact-button:hover {
  background: var(--bckgColor);
  color: var(--secondaryColor);
  border: 1px solid var(--bckgColor);
  transform: translateY(-2px);
}

.uvibes-team-sub-section {
  padding-top: calc(var(--section-padding-v) * 1.5);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ref);
}

.uvibes-outro-text {
  padding-top: 1rem;
}

.uvibes-ethical-list {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .uvibes-contact-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .uvibes-contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--spacing-ref);
  }

  .uvibes-contact-button-container {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 0;
  }

  .uvibes-contact-button {
    width: auto;
    padding: 0 2rem;
  }
}
